{% load tags %}
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>M&oacute;dulo de ventas | {{ sucursal }}</title>
		<link rel="stylesheet" href="/media/static/css/blueprint/screen.css" type="text/css" media="screen, projection" />  
		<link rel="stylesheet" href="/media/static/css/blueprint/print.css" type="text/css" media="print" />  
		<!--[if IE]><link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->     
     		<!-- Import fancy-type plugin. -->
		<link rel="stylesheet" href="/media/static/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection" /> 
		<link rel="stylesheet" href="/media/static/css/venta/venta.css" type="text/css" />		
		<script type="text/javascript" src="/media/js/jquery.js"></script>
		<script type="text/javascript" src="/media/static/js/jquery.form.js"></script>
		<script type="text/javascript" src="/media/static/js/jquery.blockUI.js"></script>
		<script type="text/javascript" src="/media/static/js/jquery-ui-highlight.min.js"></script>
		<script type="text/javascript" src="/media/static/js/jquery.alphanumeric.pack.js"></script>
		<script type="text/javascript" src="/media/static/js/utils/sucursal/sucursal.js"></script>		
		<script type="text/javascript" src="/media/static/js/venta/funciones.js"></script>
		<script type="text/javascript" src="/media/static/js/venta/venta.js"></script>
	</head>
	<body>
		<!--
			Se carga con llamada asincrona el contenido de body.
		-->
		<noscript>
			<div id="error_javascript">
				<img alt="alerta" src="/media/static/images/alerta.png"/>
				Su Navegador tiene <strong>JavaScript</strong> bloqueado o desactivado, lo que est&aacute; impidiendo ver correctamente esta p&aacute;gina.
			</div>
		</noscript>
	</body>
	{% if inicio_automatico %}
		<script language="JavaScript">
			alert("Favor de revisar fecha de apertura de turno. Este turno le corresponde?");	
		</script>
	{% endif %}
</html>