{% extends "reporte/base.html" %}
{% block main %}
<table class="tabular-data">
	<thead>
    <tr>
      <th colspan=4>REPORTE EXISTENCIAS ACTUALES</th>
    </tr>
		<tr>
      <th class="left">CODIGO</th>
			<th class="left">PRODUCTO</th>
			<th class="left">STOCK CRITICO</th>
			<th class="right">STOCK ACTUAL</th>
		</tr>
	</thead>
	<tbody>
		{% for existencia in existencias %}
				<tr class="{% cycle "pair" "odd" %}">
          <td class="price">
					    {{ existencia.producto.codigo_barra }}
					</td>
					<td class="title">
					    {{ existencia.producto }}
					</td>
					<td class="price">
					    {{ existencia.producto.stock_critico }}
					</td>
					<td class="price">
					    {{ existencia.existencia }}
					</td>
				</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock%}
