{% extends "admin/base_site.html" %} {% load i18n admin_urls static admin_modify %} {% block extrahead %}{{ block.super }}
<style type="text/css">
	.total-ok a:link {
		color: #5B80B2
	}

	.total-ok a:visited {
		color: #5B80B2
	}

	.total-ok a:hover {
		color: blue
	}

	.total-ok a:active {
		color: #5B80B2
	}

	.total-bad a:link {
		color: #FA5858
	}

	.total-bad a:visited {
		color: #FA5858
	}

	.total-bad a:active {
		color: #FA5858
	}

	.total-bad a:hover {
		color: red
	}
</style>
{{ form.media }} {{ search_form.media }} {% endblock %} {% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="/media/admin/css/forms.css" /> {% endblock %} {% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %} {% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %} {% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
	<a href="/admin">{% trans "Home" %}</a> &rsaquo; <a href="/admin/reporte/">Reporte</a> &rsaquo; <a href=".">Reportes de ventas por turno</a>
</div>
{% endif %}{% endblock %} {% block content %}
<h2>Reportes de ventas por turno</h2>
<div id="content-main">
	{% block object-tools %} {% if change %}{% if not is_popup %}
	<ul class="object-tools">
		<li>
			<a href="history/" class="historylink">{% trans "History" %}</a>
		</li>
		{% if has_absolute_url %}
		<li>
			<a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a>
		</li>{% endif%}
	</ul>
	{% endif %}{% endif %} {% endblock %}
	<form id="my_form" action="." method="POST">
		<div>
			<fieldset class="module aligned extrapretty">
				<h2>Reportes de ventas por turno</h2>
				<div class="description">
					El siguiente formulario genera reportes de <strong>ventas por turno</strong>.
					<br/>
					<br/>
				</div>
				<div class="form-row nombre marca  ">
					<div class="field-box">
						{{ form.fecha_inicio.errors }}
						<label class="required inline" for="id_proveedor">
							{{ form.fecha_inicio.label }}:
						</label>
						{{ form.fecha_inicio }}
						<p class="help">
							{{ form.fecha_inicio.help_text }}
						</p>
					</div>
					<div class="field-box">
						{{ form.fecha_fin.errors }}
						<label class="required inline" for="id_proveedor">
							{{ form.fecha_fin.label }}:
						</label>
						{{ form.fecha_fin }}
						<p class="help">
							{{ form.fecha_fin.help_text }}
						</p>
					</div>
				</div>
				<div style="display:none">
					{{ form.tipo }}
				</div>
			</fieldset>
			<div class="submit-row">
				<input type="submit" name="_save" class="default" value="Buscar Turnos" />
			</div>
		</div>
	</form>{% if turnos %}
	<style type="text/css">
		#changelist-search {
			background: #E1E1E1 url(/media/img/nav-bg.gif) repeat-x scroll left top;
			border-bottom: 1px solid #DDDDDD;
			color: #666666;
			padding: 3px;
		}

		.qs_input {
			width: 300px
		}
	</style>
	{% load tags %}
	<div id="changelist" class="module filtered">
		<table id="tabla_turnos" width="100%" cellspacing="0">
			<thead>
				<tr>
					<th>
						Trabajador
					</th>
					<th>
						Fecha Apertura Turno
					</th>
					<th>
						Fecha Cierre Turno
					</th>
					<th>
						Caja Calculado
					</th>
					<th>
						Total Afecto
					</th>
					<th>
						Total Exento
					</th>
					<th>
						Caja Informado
					</th>
					<th>
						&nbsp;
					</th>
				</tr>
			</thead>
			<tbody>
				{% for turno in turnos %}
				<tr class="{% cycle 'row1' 'row2' %}">
					<th>
						<a href="/admin/mantenedor/trabajador/{{ turno.trabajador.id }}">{{ turno.trabajador.nombre_completo|upper }}</a>
					</th>
					<td>
						{{turno.fecha_apertura_sistema|date:"d \d\e F Y, P"}}
					</td>
					<td>
						{{turno.fecha_cierre_sistema|date:"d \d\e F Y, P"}}
					</td>
					<td>
						{{ turno.monto_cierre_calculado|dineroformat}}
					</td>
					<td>
						{{ turno.monto_afecto|dineroformat}}
					</td>
					<td>
						{{ turno.monto_exento|dineroformat}}
					</td>
					<td {% ifequal turno.estado 2 %} {% ifequal turno.monto_cierre_calculado turno.monto_cierre_informado %} class="total-ok" {% else %} class="total-bad" {% endifequal %}>
						<a href="{% url ver_boleta turno.id %}"> {{turno.monto_cierre_informado|dineroformat}} </a> {% endifequal %}
					</td>
					<td>
						<a class="report-link" href="{% url 'reporte:ventas' %}{{turno.id}}">GENERAR</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% else %} {% if search_form %} no se encontraron turnos en el rango de fecha especificado {% endif %} {% endif %}
</div>{% endblock %}
