{% load tags %}
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>M&oacute;dulo de devoluci&oacute;n</title>
		<script type="text/javascript" src="/media/static/js/jquery.js"></script>
		<script type="text/javascript" src="/media/static/js/jquery.form.js"></script>
		<script type="text/javascript" src="/media/static/js/jquery.blockUI.js"></script>
		<script type="text/javascript" src="/media/static/js/jquery-ui-highlight.min.js"></script>
		<script type="text/javascript" src="/media/static/js/jquery.alphanumeric.pack.js"></script> 	
		<script type="text/javascript" src="/media/static/js/devolucion/funciones.js"></script>
		<script type="text/javascript" src="/media/static/js/devolucion/devolucion.js"></script>	
		<link rel="stylesheet" href="/media/static/css/blueprint/screen.css" type="text/css" media="screen, projection" />  
		<link rel="stylesheet" href="/media/static/css/blueprint/print.css" type="text/css" media="print" />  
		<!--[if IE]><link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->     
     		<!-- Import fancy-type plugin. -->
		<link rel="stylesheet" href="/media/static/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection" /> 
		<link rel="stylesheet" href="/media/static/css/devolucion/devolucion.css" type="text/css" />
	</head>
	<body>
		<!--
			Se carga con llamada asincrona el contenido de body.
		-->
	</body>
</html>